@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --divider-colour: #E0E0F4;
}

body {
    margin: 0;
    background-color: var(--eggshell);
}

main {
    width: 375px;
    height: 100%;
    background-color: white;
}

section {
    padding: 30px;
}

img {
    width: 375px;
}

h1 {
    font-size: 2em;
}

h1, h2 {
    font-family: Young Serif;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 1.7em;
    color: var(--nutmeg);
    font-weight: 550;
}

p, li {
    font-family: Outfit;
    line-height: 25px;
    font-size: 16px;
    color: var(--wenge-brown);
    font-weight: 500;
}

.preparation-time-container {
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: var(--rose-white);
    transform: translateY(25px);
}

h3 {
    margin: 0;
    color: var(--dark-raspberry);
    font-weight: 700;
    font-family: Outfit;
}

ul li, ol li {
    margin-top: 10px;
    padding-left: 15px;
}

li {
    transform: translateX(-15px);
}

.raspberry-marker::marker {
    color: var(--dark-raspberry);
}

span {
    font-weight: bold
}

.nutmeg-marker::marker {
    color: var(--nutmeg);
}

hr {
    width: 80%;
    background-color: var(--divider-colour);
    opacity: 0.3;
    margin-top: -17px;
    margin-bottom: -2px;
}

table {
    border-collapse: collapse;
    width: 80%;
    display:
}

table tr {
    border-bottom: 1px solid black;
}

table tr:last-child {
    border-bottom: none;
}